* {
    padding: 0;
    margin: 0;

}

.background-color {
    background-color: #9E7676;
}

/* name bannerboard */
.name {
    background-color: #FFF8EA;
    width: 100%;
    height: 85vh;
    font-size: 300px;
    display: flex;
    align-items: center; 
}

/* header */
.header {
    position: fixed;
    z-index: 1000;
    margin-top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 10px 20px;
    gap: 20px;
    margin-left: 20px;
    font-family: "Google Sans Code", monospace;
    font-size: 20px;

}

.download-resume {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: "Google Sans Code", monospace;
    font-size: 20px;
    margin-right: 20px;

}

/* about me */
#about-me-div{
    padding: 20px;
}

.about-me-header {
    font-size: clamp(30px, 90px, 180px);
}